body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

  .topnav {
    background-color: #FFFFFF;
    margin: 0 auto;
  }

.topnav a {
    display: inline-block;  
    padding: 0px;
    padding-top: 0px;
    columns: #000000;; 
    text-decoration:none;
    margin-right:40px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #000000;
}
.topnav a:hover { border-bottom:2px solid #A6D6FF;}

#Logo {
    height: 99px;
    width: 99px;
    padding-top: 10px;
    display: block;
    text-align: left;
}

#navright {
    float:right;
    margin-top:30px;
}
